output/rtdetr_r18vd_6x_coco/eval.pth
output/rtdetr_r18vd_6x_vidrone/20241203_140000/checkpoint0080.pth
output/rtdetr_r18vd_6x_vidrone/20241203_140000/log.txt
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_0.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_1.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_2.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_3.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_4.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_5.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_6.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_7.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_8.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_9.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_10.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_11.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_12.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_13.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_14.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_15.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_16.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_17.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_18.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_19.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_20.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_21.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_22.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_23.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_24.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_25.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_26.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_27.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_28.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_29.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_30.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_31.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_32.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_33.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_34.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_35.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_36.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_37.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_38.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_39.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_40.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_41.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_42.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_43.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_44.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_45.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_46.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_47.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_48.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_49.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_50.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_51.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_52.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_53.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_54.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_55.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_56.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_57.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_58.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_59.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_60.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_61.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_62.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_63.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_64.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_65.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_66.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_67.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_68.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_69.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_70.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_71.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_72.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_73.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_74.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_75.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_76.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_77.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_78.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_79.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/eval_mAP_epoch_80.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_0.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_1.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_2.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_3.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_4.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_5.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_6.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_7.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_8.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_9.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_10.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_11.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_12.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_13.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_14.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_15.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_16.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_17.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_18.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_19.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_20.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_21.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_22.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_23.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_24.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_25.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_26.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_27.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_28.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_29.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_30.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_31.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_32.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_33.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_34.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_35.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_36.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_37.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_38.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_39.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_40.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_41.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_42.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_43.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_44.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_45.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_46.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_47.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_48.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_49.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_50.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_51.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_52.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_53.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_54.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_55.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_56.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_57.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_58.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_59.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_60.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_61.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_62.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_63.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_64.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_65.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_66.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_67.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_68.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_69.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_70.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_71.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_72.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_73.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_74.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_75.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_76.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_77.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_78.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_79.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/criteria_fig/train_loss_epoch_80.png
output/rtdetr_r18vd_6x_vidrone/20241203_140000/eval/000.pth
output/rtdetr_r18vd_6x_vidrone/20241203_140000/eval/050.pth
output/rtdetr_r18vd_6x_vidrone/20241203_140000/eval/latest.pth
output/rtdetr_r18vd_6x_vidrone/20241204_093319/checkpoint0010.pth
output/rtdetr_r18vd_6x_vidrone/20241204_093319/log.txt
output/rtdetr_r18vd_6x_vidrone/20241204_093319/criteria_fig/eval_mAP_epoch_0.png
output/rtdetr_r18vd_6x_vidrone/20241204_093319/criteria_fig/eval_mAP_epoch_1.png
output/rtdetr_r18vd_6x_vidrone/20241204_093319/criteria_fig/eval_mAP_epoch_2.png
output/rtdetr_r18vd_6x_vidrone/20241204_093319/criteria_fig/eval_mAP_epoch_3.png
output/rtdetr_r18vd_6x_vidrone/20241204_093319/criteria_fig/eval_mAP_epoch_4.png
output/rtdetr_r18vd_6x_vidrone/20241204_093319/criteria_fig/eval_mAP_epoch_5.png
output/rtdetr_r18vd_6x_vidrone/20241204_093319/criteria_fig/eval_mAP_epoch_6.png
output/rtdetr_r18vd_6x_vidrone/20241204_093319/criteria_fig/eval_mAP_epoch_7.png
output/rtdetr_r18vd_6x_vidrone/20241204_093319/criteria_fig/eval_mAP_epoch_8.png
output/rtdetr_r18vd_6x_vidrone/20241204_093319/criteria_fig/eval_mAP_epoch_9.png
output/rtdetr_r18vd_6x_vidrone/20241204_093319/criteria_fig/eval_mAP_epoch_10.png
output/rtdetr_r18vd_6x_vidrone/20241204_093319/criteria_fig/train_loss_epoch_0.png
output/rtdetr_r18vd_6x_vidrone/20241204_093319/criteria_fig/train_loss_epoch_1.png
output/rtdetr_r18vd_6x_vidrone/20241204_093319/criteria_fig/train_loss_epoch_2.png
output/rtdetr_r18vd_6x_vidrone/20241204_093319/criteria_fig/train_loss_epoch_3.png
output/rtdetr_r18vd_6x_vidrone/20241204_093319/criteria_fig/train_loss_epoch_4.png
output/rtdetr_r18vd_6x_vidrone/20241204_093319/criteria_fig/train_loss_epoch_5.png
output/rtdetr_r18vd_6x_vidrone/20241204_093319/criteria_fig/train_loss_epoch_6.png
output/rtdetr_r18vd_6x_vidrone/20241204_093319/criteria_fig/train_loss_epoch_7.png
output/rtdetr_r18vd_6x_vidrone/20241204_093319/criteria_fig/train_loss_epoch_8.png
output/rtdetr_r18vd_6x_vidrone/20241204_093319/criteria_fig/train_loss_epoch_9.png
output/rtdetr_r18vd_6x_vidrone/20241204_093319/criteria_fig/train_loss_epoch_10.png
output/rtdetr_r18vd_6x_vidrone/20241204_093319/eval/000.pth
output/rtdetr_r18vd_6x_vidrone/20241204_093319/eval/latest.pth
output/rtdetr_r50vd_6x_visdrone/20241204_132509/checkpoint.pth
output/rtdetr_r50vd_6x_visdrone/20241204_132509/checkpoint0002.pth
output/rtdetr_r50vd_6x_visdrone/20241204_132509/log.txt
output/rtdetr_r50vd_6x_visdrone/20241204_132509/criteria_fig/eval_mAP_epoch.png
output/rtdetr_r50vd_6x_visdrone/20241204_132509/eval/000.pth
output/rtdetr_r50vd_6x_visdrone/20241204_132509/eval/latest.pth
output/rtdetr_r50vd_6x_visdrone/20241204_153140/checkpoint.pth
output/rtdetr_r50vd_6x_visdrone/20241204_153140/checkpoint0071.pth
output/rtdetr_r50vd_6x_visdrone/20241204_153140/eval_mAP_epoch.png
output/rtdetr_r50vd_6x_visdrone/20241204_153140/eval_mAP_history.csv
output/rtdetr_r50vd_6x_visdrone/20241204_153140/log.txt
output/rtdetr_r50vd_6x_visdrone/20241204_153140/train_loss_history.csv
output/rtdetr_r50vd_6x_visdrone/20241204_153140/criteria_fig/eval_mAP_epoch.png
output/rtdetr_r50vd_6x_visdrone/20241204_153140/eval/050.pth
output/rtdetr_r50vd_6x_visdrone/20241204_153140/eval/latest.pth
output/rtdetr_r50vd_6x_visdrone/20241206_120000/checkpoint.pth
output/rtdetr_r50vd_6x_visdrone/20241206_120000/checkpoint0017.pth
output/rtdetr_r50vd_6x_visdrone/20241206_120000/eval_mAP_epoch.png
output/rtdetr_r50vd_6x_visdrone/20241206_120000/eval_mAP_history.csv
output/rtdetr_r50vd_6x_visdrone/20241206_120000/log.txt
output/rtdetr_r50vd_6x_visdrone/20241206_120000/train_loss_history.csv
output/rtdetr_r50vd_6x_visdrone/20241206_120000/eval/000.pth
output/rtdetr_r50vd_6x_visdrone/20241206_120000/eval/latest.pth
